body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}
.black {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 10px;
  color: #1d1d1f;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin: 0px;
}
.blue {
  font-family: 'Open Sans', sans-serif;
  color: #06c;
  margin: 0px;
  text-decoration-line: underline;
  font-weight: 100;
}
p {
  font-family: 'Open Sans', sans-serif;
  color: #6e6e73;
  font-weight: 700;
}
